* {
  margin:0;
  padding:0;
  font-family: Poppins, sans-serif;
  box-sizing: border-box;
}

body {
	background-color: #fff;
}

.container {
  display:flex;
  flex-direction:column;
  width:100%;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}

.header{
  border-bottom: 1px solid rgb(59, 60, 62);
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 1.5rem;
  height:15vh;
}

.hamburger {
  display: none;
}

.bar {
  display: block;
  width: 25px;
  height: 3px;
  margin: 5px auto;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  background-color: #101010;
}

.nav-menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav-item {
  margin-left: 2rem;
}

.nav-link{
  font-size: 1rem;
  font-weight: 400;  
  padding: 3px 15px;
  color: RGB(24, 24, 27);
}

.nav-link:hover{
  background-color:RGB(24, 24, 27);
  border-radius:10px;
  padding: 3px 15px;
  color: #F69A36;
}

.nav-logo {
  font-size: 1.5rem;
  font-weight: 500;
  color: RGB(24, 24, 27);
}

#banner {
  background-color: #fff;
  background-image:url(../images/banner.png);
  background-size: cover;
  background-repeat: no-repeat; 
  width:100%;
  height:60vh; 
}

#intro {
  position: absolute;
  Width:50%;
  height: 15vh;
  display: flex;
  flex-direction: column;
  align-items: left;
  margin: 90px 0 0 40px;
}

#intro  p {
  font-size: 34px;
  font-weight:700;
  margin-left:90px;
}


.paragraph span {
  display: block;
  opacity:1;
  animation: reveal 0.9s forwards var(-delay);
}

@keyframes reveal {
  from {
    translate: 0 20px;    
  }
  to {
    opacity: 1;
    transform: translateY(0px);
  }  
}

#bottom-flag {
    position:relative;
    display:flex;
    justify-content: center;
    align-items:center;
    width:100%;
    height:26vh;
    top:-5px;
    box-shadow:0 10px 27px rgba(0, 0, 0, 0.05);
    background-color: #F69A36;
  }

#bio-summary { 
  position: absolute;
  display:flex;
  align-items: center;
  justify-content: center;
  text-align:center;
  width:30%;
  height:33vh;
  background-color: #3d256a;
  color:#ffffff;
  font-size:1.5em;
  box-shadow:#000;
  border-radius:8px 8px 0 0;
  bottom:0; 
}

#bio-summary article {
  width:100%;
  font-size: 20px;
  font-weight:300;
  margin:10px;
}

#social-media {
    display: flex;
    position: absolute;
    width: 22%;
    margin-right: 100px; 
    right:0;
    justify-content:space-between;
    align-items: center; 
  }

  #twitter,
  #linkedin,
  #github {
    border-radius: 50%;
    background-color: #101010;
    color:#fff;
    padding:20px;
    font-size:24px; 
    margin: 5px;   
  }

  #social-media span:hover {
    background-color: #fff;
    color:#000;
    cursor:pointer;
  }

#profile {
  color: #000;
  display: flex;
  flex-direction: column;
  margin: 0 90px;
}

#profile h2, #project h2, #contact h2 {
  margin:90px 0 0 20px;
  color:rgb(233, 111, 11);
}

#profile-content {
  display: flex;  ;
}

#about {
  width: 60%;
  margin: 5px 20px;
}

#about p {
  margin-bottom: 12px;
}

#skills {
  flex:1;
  margin: 5px 5px;
}

#experience {
  display:flex;
  flex-direction: column;
  margin-top:20px;
}

#experience h3, #experience ul {
  margin-left:20px;
}

#experience li {
  font-weight:700;
}

#exp-details {
  margin: 15px 10px 10px 0;
}

#project-container {
    margin-bottom:20px;
    width: 50%;
    border:2px solid rgb(233, 111, 11);
    padding:10px; 
  }

  #project-description {
    width: 90%; 
  }

  #project-description h3 {
    margin-top: 12px;
  }

  #project {
    display: flex;
    flex-direction: column; 
    margin: 0 90px;
  }

  #projects {
    margin:50px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  #img-container {
    display: flex;
    flex-direction: column;    
  }

  #img-hover {
    display: none;
  }

  #img-hover:hover {    
    display:block;
    width: 85%;
    height: 150px;
    position: absolute;  
    z-index: 999;
    background-color: #000;
    opacity: 70%;
    display: flex;
    justify-content: space-around;
    align-items: center;
  }

  #img-hover span {
    color: #000;
    font-size: 14px;
    border-radius: 8px;
    background-color:#fff;
    padding: 5px;
  }

  #project-img {
    display: block;
    width: 90%;
    height: auto;
    margin-bottom: 10px;
  }
  #project-img img {
    width: 100%;
    height: auto;
  }

  #stack-used {
    display: flex;
    flex-wrap: wrap;
    color: #fff;
  }

  #tech {
    background-color:#000;
    border-radius: 8px;
    margin: 5px 5px 0 0;
    padding: 5px;
  }
 

/* style for mobile screens */
@media only screen and (max-width: 767px) {
  /*Mobile-specific CSS styles go here */
  
  .navbar {
    height:10vh;
  }
  .nav-menu {
    position: fixed;
    z-index:9999;
    left: -100%;
    top: 5rem;
    flex-direction: column;
    background-color: #fff;
    width: 100%;
    text-align: center;
    transition: 0.3s;
    box-shadow:
        0 10px 27px rgba(0, 0, 0, 0.05);
  }

  .nav-menu.active {
    left: 0;
  }

  .nav-item {
    margin: 1rem 0;
  }

  .hamburger {
    display: block;
    cursor: pointer;
  }

  .hamburger.active .bar:nth-child(2) {
    opacity: 0;
  }

  .hamburger.active .bar:nth-child(1) {
    transform: translateY(8px) rotate(45deg);
  }

  .hamburger.active .bar:nth-child(3) {
    transform: translateY(-8px) rotate(-45deg);
  }

  #banner {
    background-color: #fff;
    background-image:url(../images/banner-mobile.png);
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    height: 150px;
    margin: 0;
  }

  #intro {
    position: absolute;
    Width:50%;
    height: 15vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: left;
    margin: 15px 0 0 20px;
  }

  #intro  p {
    font-size: 12px;
    font-weight:700;
  }

  #bottom-flag {
    position:relative;
    display:flex;
    width:100%;
    height:9vh;
    top:-10px;
    box-shadow:0 10px 27px rgba(0, 0, 0, 0.05);
    background-color:#03082f;
    margin: 0;
    align-items:center;
    justify-content: space-betwen;
    border: 2px solid red;
  }

  #bio-summary { 
    bottom:0;
    position: absolute;
    text-align:center;
    width:70%;
    color:#fff;
    box-shadow: #000;  
  }

  #bio-summary article {
    width:100%;
    font-size: 9px;
    margin: 10px 14px;
  }

  #social-media {
    display: flex;
    position: absolute;
    width: 100px;
    margin-right: 5px; 
    right:0;
    justify-content:space-between;
    align-items: center; 
  }

  #social-media span {
    border-radius: 50%;
    background-color: #101010;
    color:#fff;
    padding:10px;
    font-size:12px; 
    margin: 0;   
  }

  #social-media span:hover {
    background-color: #fff;
    color:#000;
    cursor:pointer;
  }

  #profile {
    color: #000;
    display: flex;
    flex-direction:column;
    width:100%;
  }

  #profile h2, #project h2, #contact h2 {
    color:rgb(233, 111, 11);
    margin:20px 0 0 20px;
  }

  #profile-content {
    margin:20px;
    width:80%;
    display: flex;
    flex-direction: column;
  }

  #about {
    width: 100%;
    margin:0;
  }

  #about p {
  margin-bottom: 10px;
  }

  #skills, 
  #experience {
    display:flex;
    flex-direction: column;
    color: #000;
    margin-top: 20px;
  }

  #skills h3, #skills ul, #experience h3, #experience ul {
    margin-left:20px;
  }

  #experience li {
    font-weight: 700;
    margin-bottom:5px;
  }

  #exp-details {
    margin: 15px 10px 10px 0;
  }

  #project-container {
    margin-bottom:20px;
  }

  #project {
    display: flex;
    flex-direction: column;    
  }

  #projects {
    margin:10px;
  }

  #img-container {
    display: flex;
    flex-direction: column;    
  }

  #img-hover {
    display: none;
  }

  #img-hover:hover {    
    display:block;
    width: 85%;
    height: 150px;
    position: absolute;  
    z-index: 999;
    background-color: #000;
    opacity: 70%;
    display: flex;
    justify-content: space-around;
    align-items: center;
  }

  #img-hover span {
    color: #000;
    font-size: 14px;
    border-radius: 8px;
    background-color:#fff;
    padding: 5px;
  }

  #project-img {
    display: block;
    width: 90%;
    height: auto;
    margin-bottom: 10px;
  }
  #project-img img {
    width: 100%;
    height: auto;
  }

  #stack-used {
    display: flex;
    flex-wrap: wrap;
    color: #fff;
  }

  #tech {
    background-color:#000;
    border-radius: 8px;
    margin: 5px 5px 0 0;
    padding: 5px;
  }

}

 .toggle {
    --width: 80px;
    --height: calc(var(--width) / 3);

    position: relative;
    display: inline-block;
    width: var(--width);
    height: var(--height);
    box-shadow: 0px 1px 3px rgba(239, 120, 16, 0.3);
    border-radius: var(--height);
    cursor: pointer;
    padding-top:2px;    
}


/* hiding checkbox */
.toggle input {
    display: none;
}

.toggle .slider {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: var(--height);
  border: 2px solid #969696;
  background-color: rgb(0, 0, 0);
  transition: all 0.4s ease-in-out;
}
.toggle .slider::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: calc(var(--height));
  height: calc(var(--height));
  border-radius: calc(var(--height) / 2);
  background-color: rgb(233, 111, 11);
  box-shadow: 0px 1px 3px rgba(229, 111, 15, 0.3);
  transition: all 0.4s ease-in-out;
}


/* Adding slider effect */
.toggle input:checked + .slider {
  background-color: white;
}
.toggle input:checked + .slider::before {
  transform: translateX(calc(var(--width) - var(--height)));
}

/* Adding text in the toggle button */
.toggle .labels {
  position: absolute;
  top: 8px;
  left: 0;
  width: 100%;
  height: 100%;
  font-size: 12px;
  font-family: sans-serif;
  transition: all 0.4s ease-in-out;
}

.toggle .labels::after {
  content: attr(data-off);
  position: absolute;
  right: 5px;
  color: #4d4d4d;
  opacity: 1;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.4);
  transition: all 0.4s ease-in-out;
}

.toggle .labels::before {
  content: attr(data-on);
  position: absolute;
  left: 5px;
  color: #0975ab;
  opacity: 0;
  text-shadow: 1px 1px 2px rgba(255, 255, 255, 0.4);
  transition: all 0.4s ease-in-out;
}

.toggle input:checked~.labels::after {
  opacity: 0;
}

.toggle input:checked~.labels::before {
  opacity: 1;
}
