/* * {
  display:none;
  border: 1px solid red;
} */
body {
	background-color:black;
}

.icon {
    color:white;
    padding:10px;
    border-radius:50%;
	
}

.icon:hover {
    cursor:pointer;
    background-color: rgb(17, 109, 140)
}
.container {  
    display: flex;	
    justify-content: space-between;
    width: 100%;
    flex-direction:column;
  }

.upper-section {
    display:flex;
    flex-direction:row;
    width: 100%;
}

.alias{
    align-items: flex-start;
    color: white;
    flex-grow:1;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif
}

.social-media {
    align-items: flex-end;
    float:right;
    margin-left: auto;
}

 .header {
    display: flex;
    flex-direction:row;
    height: 85vh;
    width: 100%;  
    background-image:url('../images/banner.jpg');
    background-position:100%;
 } 

 .intro {
    color:white;
    flex-grow:1;
    font-family:'Poppins', 'sans-serif';
 }
 .intro h1{
    margin:100px 2px 2px 10px;    
    font-size:3.5em;
 }
 .intro p{
    margin:1px 1px 1px 10px;
    font-size:1.2em;
 }

 .nav {
    display: inline-block;
    align-items: flex-end;
    /* color:white; */
    font-size:20px;
    margin:5px;
  }

 .toggle {
    --width: 80px;
    --height: calc(var(--width) / 3);

    position: relative;
    display: inline-block;
    width: var(--width);
    height: var(--height);
    box-shadow: 0px 1px 3px rgba(239, 120, 16, 0.3);
    border-radius: var(--height);
    cursor: pointer;
    padding-top:2px;    
}

/* hiding checkbox */
.toggle input {
    display: none;
}

.toggle .slider {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: var(--height);
  border: 2px solid #969696;
  background-color: rgb(0, 0, 0);
  transition: all 0.4s ease-in-out;
}
.toggle .slider::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: calc(var(--height));
  height: calc(var(--height));
  border-radius: calc(var(--height) / 2);
  background-color: rgb(233, 111, 11);
  box-shadow: 0px 1px 3px rgba(229, 111, 15, 0.3);
  transition: all 0.4s ease-in-out;
}

/* Adding slider effect */
.toggle input:checked + .slider {
  background-color: white;
}
.toggle input:checked + .slider::before {
  transform: translateX(calc(var(--width) - var(--height)));
}

/* Adding text in the toggle button */
.toggle .labels {
  position: absolute;
  top: 8px;
  left: 0;
  width: 100%;
  height: 100%;
  font-size: 12px;
  font-family: sans-serif;
  transition: all 0.4s ease-in-out;
}

.toggle .labels::after {
  content: attr(data-off);
  position: absolute;
  right: 5px;
  color: #4d4d4d;
  opacity: 1;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.4);
  transition: all 0.4s ease-in-out;
}

.toggle .labels::before {
  content: attr(data-on);
  position: absolute;
  left: 5px;
  color: #0975ab;
  opacity: 0;
  text-shadow: 1px 1px 2px rgba(255, 255, 255, 0.4);
  transition: all 0.4s ease-in-out;
}

.toggle input:checked~.labels::after {
  opacity: 0;
}

.toggle input:checked~.labels::before {
  opacity: 1;
}
a {
  color:white;
  padding:5px;
  font-family:'Courier New', Courier, monospace;
}

a:link { 
  text-decoration: none;
  color:white; 
}

a:visited { 
  text-decoration: none;
  /* color:grey; */
}

a:hover { 
  text-decoration: none;
  color:rgb(197, 34, 197); 
  background-color:white;
}

a:active { 
  text-decoration: none; 
}

button {
  background-color: transparent;
  padding: 5px 10px;
  text-align: center;
  text-decoration:none;
  font-size:15px;
}

.bio {  
	display: flex;
  flex-direction:row;
  height:70vh;
}

img {
  border-radius:50%;
  border: 2px solid rgb(31, 157, 210);
  
}

.profile-pic h2, h3 {
  text-align: center;
  color:rgb(31, 157, 210);
  transform:rotate(-10deg);
}
  
  .light-dark-switch { 
	grid-area: light-dark-switch; 
}
  
  
  
  .profile-pic { 
	grid-area: profile-pic; 
}
  
.stack {
  color:white
}
  
  .profile {  
	display: grid;
	
  }
  
  .project { 
	grid-area: project; 
}
  
  .contact { 
	grid-area: contact; 
}
  
  

  
